/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

body {
  padding-top: 85px;
}

.site-title {
  padding: 0px 0px;
  line-height: 1;
  margin: 0px;
  font-size: 1rem;
}

.site-title a {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

@media (min-width: 992px) {
  body {
    padding-top: 85px;
  }
}

.page-logo {
  height: 35px;
  width: auto;
}

.badge {
  font-size: 90%;
}

.share-box {
  margin-top: 15px;
}